<section class="sect-head">
  <div class="sect-head__num">{{ section.number | padSlide }}</div>
  <span class="kicker kicker--plain">{{ section.kicker }}</span>
  <h2 class="display">{{ section.headline | safe }}</h2>
  <div class="sect-head__line"></div>
  <p class="sect-head__sub">{{ section.subtitle }}</p>
</section>
