---
permalink: slide-13.html
pageTitle: A Day in That Life
slideNum: 13
chromeLabel: Backstory
chromeTheme: light
prevHref: slide-12.html
nextHref: slide-14.html
pageIndex: 3
---
{% include "backstory-slide.njk" %}
