---
permalink: slide-08.html
pageTitle: Cheekbones, Brow & Jaw
slideNum: 8
chromeLabel: Cheekbones
chromeTheme: light
prevHref: slide-07.html
nextHref: slide-09.html
featureIndex: 4
---
{% include "feature-slide.njk" %}
