---
permalink: slide-04.html
pageTitle: Face Shape
slideNum: 4
chromeLabel: Face Shape
chromeTheme: light
prevHref: slide-03.html
nextHref: slide-05.html
featureIndex: 0
---
{% include "feature-slide.njk" %}
