---
permalink: slide-06.html
pageTitle: Eyes & Eyelids
slideNum: 6
chromeLabel: Eyes & Eyelids
chromeTheme: light
prevHref: slide-05.html
nextHref: slide-07.html
featureIndex: 2
---
{% include "feature-slide.njk" %}
