---
permalink: slide-11.html
pageTitle: The Settlement
slideNum: 11
chromeLabel: Backstory
chromeTheme: light
prevHref: slide-10.html
nextHref: slide-12.html
pageIndex: 1
---
{% include "backstory-slide.njk" %}
