---
permalink: slide-12.html
pageTitle: Trade & Sustenance
slideNum: 12
chromeLabel: Backstory
chromeTheme: light
prevHref: slide-11.html
nextHref: slide-13.html
pageIndex: 2
---
{% include "backstory-slide.njk" %}
