---
permalink: slide-10.html
pageTitle: Your Historical Mirror
slideNum: 10
chromeLabel: Backstory
chromeTheme: light
prevHref: slide-09.html
nextHref: slide-11.html
pageIndex: 0
---
{% include "backstory-slide.njk" %}
